<%= form_for(@users_card) do |f| %>
  <% if @users_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_card.errors.count, "error") %> prohibited this users_card from being saved:</h2>

      <ul>
      <% @users_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :card_id %><br>
    <%= f.number_field :card_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
