<p id="notice"><%= notice %></p>

<h1>Listing Users Cards</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_cards.each do |users_card| %>
      <tr>
        <td><%= users_card.user_id %></td>
        <td><%= users_card.card_id %></td>
        <td><%= link_to 'Show', users_card %></td>
        <td><%= link_to 'Edit', edit_users_card_path(users_card) %></td>
        <td><%= link_to 'Destroy', users_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users card', new_users_card_path %>
